/* .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9); /* Light transparent background */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    z-index: 9999;
  }
   */
  /* .spinner { */
    /* width: 50px;
    height: 50px;
    border: 5px solid #349377;
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  } */
/*   
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
   
  /* p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #349377;
  } */


  .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #016342;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.auto-container {
    position: relative;
    width: 100%;
    height: auto; /* Allow image height to adjust */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Avoid clipping */
}

.auto-rickshaw {
    max-width: 50%; 
    height: 35%; 
    animation: moveAcross 4s linear infinite;
}

/* Animation for the auto rickshaw to move across the screen */
@keyframes moveAcross {
  0% {
    transform: translateX(-100%); /* Start off-screen on the left */
  }
  50% {
    transform: translateX(50%); /* Center */
  }
  100% {
    transform: translateX(110%);
  }
}



/* Vendor prefixes for better browser support */
@-webkit-keyframes moveAcross {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

.auto-rickshaw {
  animation: moveAcross 3s linear infinite ease-in-out;
  -webkit-animation: moveAcross 3s linear infinite ease-in-out; /* For Safari */
}


